@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro&display=swap");

* {
  font-family: "Anonymous Pro", monospace;
  color: white;
  background-color: rgb(25, 25, 25);
}

.text {
  width: 60em;
  margin: 0 auto;
  font-size: 20px;
  border-right: 2px solid rgba(255, 255, 255 0.75);
  overflow: hidden;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.ezequiel{
  text-align: justify;
}
